<app-menu></app-menu>
<div class="h3">Requests in Review
</div>

<div>
<table [ngClass]="tableStyle">
    <tr> 
        <th>Id</th>
        <th>Description</th>
        <th>Status</th>
        <th>Total</th>
        <th>Username</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let request of requests">
       
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total}}</td>
        <td>{{request.username}}</td>
        <td>
            <a routerLink ="/requests/review-item/{{request.id}}">Review this</a>
        </td>
    </tr>
</table>
</div>
