<app-menu></app-menu>
<div class="h3">Product List
    <!-- placeholder puts the word search in the search box -->
    <input [(ngModel)]="searchCriteria" type="text" placeholder="search products">
    <a *ngIf="loggedInUser.isAdmin" routerLink="/products/create" class="btn btn-primary">Create New Product</a>
    
</div>

<table [ngClass]="tableStyle">
    <tr>
        <th><a (click)="sortColumn('id')" class="btn btn-link">Id</a></th>
        <th><a (click)="sortColumn('vendorName')" class="btn btn-link">Vendor Name</a></th>
        <th><a (click)="sortColumn('partNbr')" class="btn btn-link">Part Number</a></th>
        <th><a (click)="sortColumn('name')" class="btn btn-link">Name</a></th>
        <th><a (click)="sortColumn('price')" class="btn btn-link">Price</a></th>
        <th><a (click)="sortColumn('unit')" class="btn btn-link">Unit</a></th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let product of products | productSearch:searchCriteria | sort:sortCriteria:ascSequence"> 
        <td>{{product.id}}</td>
        <td>{{product.vendor.name}}</td>
        <td>{{product.partNbr}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.unit}}</td>
        <td>
            <a *ngIf="loggedInUser.isAdmin" routerLink ="/products/detail/{{product.id}}">Details |</a>
            <a *ngIf="loggedInUser.isAdmin" routerLink ="/products/edit/{{product.id}}"> Edit</a>
          
        </td>
    </tr>
</table>


