<app-menu></app-menu>
<div class="angular-component">
    <h3> Create New Request</h3>
    <table *ngIf="request" class="table table-sm">
        <tr>
            <th>Id</th>
            <td>
                <input [(ngModel)]="request.id" disabled type="text" size="10">
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                <input [(ngModel)]="request.description" type="text" size="25">
            </td>
        </tr>
        <tr>
            <th>Justification</th>
             <td>
                 <input [(ngModel)]="request.justification" type="text" size="25">
             </td>
        
        </tr>
        <tr>
            <th>Rejection Reason</th>
             <td>
                 <input [(ngModel)]="request.rejectionReason" type="text" size="25">
             </td>
        </tr>
        <tr>
            <th>Delivery Mode</th>
             <td>
                 <input [(ngModel)]="request.deliveryMode" type="text" size="15">
             </td>
        </tr>
        <tr>
            <th>Status</th>
             <td>
                 <input [(ngModel)]="request.status" type="text" size="15">
             </td>
        </tr>
        <tr>
            <th>Total</th>
             <td>
                 <input [(ngModel)]="request.total" type="number" size="15">
             </td>
        </tr>
        <tr>
            <th>User</th>
             <td *ngIf="request.user">
                 <input [(ngModel)]="request.user.username" disabled type="text" size="15">
             </td>
        </tr>
        <tr>
            <td calspan="2">
                <button (click)="save()" class="btn btn-primary">Save</button>
            </td>
        </tr>
    </table>
</div>

