<app-menu></app-menu>
<div class="h3">Request Lines
    <!-- create makes a new line item -->
    <a routerLink="/requestline/create">Create</a>
</div>

<div>
<table *ngIf="requestlines" [ngClass]="tableStyle">
    <tr> 
        <th>Id</th>
        <th>Description</th>
        <th>Status</th>
        <th>Total</th>
        <th>User</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let request of requests">
       
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total}}</td>
        <td>{{request.username}}</td>
        <td>
            <a routerLink ="/requests/review/{{request.id}}">Review</a>
        </td>
    </tr>
</table>
</div>

<div>
    <table *ngIf="requestlines" [ngClass]="tableStyle">
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>LineTotal</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let request of requests">
           
            <td>{{request.id}}</td>
            <td>{{request.product}}</td>
            <td>{{request.quantity}}</td>
            <td>{{request.price}}</td>
            <td>{{request.total}}</td>
            <td>
                <a routerLink ="/requestlines/edit/{{request.id}}">Edit | </a>
                <a routerLink ="/requests/detail/{{request.id}}">Delete </a>
            </td>
        </tr>
        
    </table>
    <button (click)="submitForReview()" class="btn btn-primary">Review</button>

</div>
