<app-menu></app-menu>
<div class="h3">Request List
    <a routerLink="/requests/create" class="btn btn-primary">Create New Request</a>
   
</div>

<table [ngClass]="tableStyle">
    <tr>
       
        <th>Id</th>
        <th>Description</th>
        <th>Justification</th>
        <th>Rejection Reason</th>
        <th>Delivery Mode</th>
        <th>Status</th>
        <th>Total</th>
        <th>User</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let request of requests">
        
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.justification}}</td>
        <td>{{request.rejectionReason}}</td>
        <td>{{request.deliveryMode}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total | currency }}</td>
        <td>{{request.user.username}}</td>
        <td>
            <a routerLink ="/requests/detail/{{request.id}}">Details | </a>
            <a routerLink ="/requests/edit/{{request.id}}">Edit | </a>
            <a routerLink ="/requests/lines/{{request.id}}">Lines </a>
        </td>
    </tr>
</table>


